[Unit]
Description=Secret Broker root-owned GitHub signer socket
After=systemd-tmpfiles-setup.service

[Socket]
ListenStream=/run/secret-broker-github-signer/signer.sock
Accept=no
SocketUser=root
SocketGroup=broker-github-signer
SocketMode=0660
DirectoryMode=0750
RemoveOnStop=true
Service=secret-broker-github-signer.service

[Install]
WantedBy=sockets.target
